.fruite-container {
    display: flex;
    justify-content: center;
}

.fruite-wrapper {
    display: flex;
    align-items: center;
    border-radius: 4px;
    width: 55%;
    margin:26px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fruite-image {
    width: 40%
}

.fruite-info {
    width: 60%;
    padding-left:1.5rem;
    padding-right:1rem;
}

.fruite-text-color {
    color: #a6a6a6;
}

.fruite-title-color {
    color: #403f3f;
    font-size: 40px;
    margin-bottom:12px;
}

.te-ge {
    color: #4D96FF;
}

.fruite-price {
    color: #87c140;
    font-size: 45px;
    font-weight: 400;
}

.fruite-icon {
    color: #87c140;
    margin-right: 5px;
}

.delivered {
    padding: 12px 40px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.delivered:active {
    transform: scale(0.97);
}

.restock{
    border: none;
    color:white;
    border-radius: 2px;
    font-weight: 500;
}

@media (max-width: 576px) {
    .fruite-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .fruite-wrapper{
        display: flex;
        flex-direction: column;
        width:375px;
        margin-left:19px;
        margin-right:19px;
    }

    .fruite-image {
        width: 100%
    }

    .fruite-info {
        width: 85%;
        padding-left:0.25rem;
        padding-right:0.25rem;
        margin-bottom: 1rem;
    }
}