.header-container{
    margin:0px 48px;
    padding:0px 48px;
}

.button {
    border: none;
    border-radius: 2px;
    padding: 8px 14px;
    font-size: 16px;
    cursor: pointer;
    background-color: #87c140;
    outline: none;
    color: white;
    font-weight: 500;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background-color: #9cd358;
    background-image: radial-gradient(circle, transparent 1%, #9cd358 1%);
    background-position: center;
    background-size: 15000%;
}

.ripple:active {
    transition: background 0s;
    background-color: #cdeea6;
    background-size: 100%;
}

.fs-15px-fw-500{
    font-size:15px;
    font-weight:500;
}

@media (max-width: 576px) {
    .header-container{
        margin:0px 20px;
        padding:0px;
    }
    .toggle-btn{
        background-color:white;
    }
    .logOut-lonIn{
        text-align: center;
    }
}