.button {
    border: none;
    border-radius: 2px;
    padding: 8px 14px;
    font-size: 16px;
    cursor: pointer;
    background-color: #87c140;
    outline: none;
    color: white;
    font-weight: 500;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background-color: #9cd358;
    background-image: radial-gradient(circle, transparent 1%, #9cd358 1%);
    background-position: center;
    background-size: 15000%;
}

.ripple:active {
    transition: background 0s;
    background-color: #cdeea6;
    background-size: 100%;
}

.navLink {
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 16px;
    margin: 0px 4px;
}

.navLink:hover {
    color: #88c000;
}

.navbarScroll {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    background-color: black;
    transition: 1s;
}

.stickyTop {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1020;
    background-color: black;
}

.fixedTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.active-link-color {
    color: #88c000;
}

@media (max-width: 576px) {

    .container {
        width: 93%;
    }

    .navbarNotScroll {
        background-color: black;
    }

    .toggle-btn {
        background-color: white;
    }

    .logOut-lonIn {
        text-align: center;
    }
}