.swal2-confirm {
  background-color: rgb(14, 171, 14) !important;
  border: 0px;
  outline: none;
  color: white;
  text-transform: none;
}

.swal2-confirm:hover {
  background-color: rgb(14, 171, 14) !important;
}

.swal2-cancel {
  background-color: rgb(220, 18, 18) !important;
  border: 0px;
  outline: none;
  color: white;
  text-transform: none;
  margin-right: 15px;
}

.swal2-cancel:hover {
  background-color: rgb(220, 18, 18) !important;
}

.titleTopPadding {
  padding-top: 90px;
  padding-bottom: 80px;
  margin-bottom: 0px;
}